@model IEnumerable<TruYumClient.Models.MenuItem>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
}

<h1>Choose your Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOflaunch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreeDelivery)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOflaunch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FreeDelivery)
                </td>
                <td>

                
                    <a  href="@Url.Action("AddToCart","Cart",new { id = item.Id })">Add To Cart</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@if (@Context.Session.GetString("token") != null)
        {
           
    <a  href="@Url.Action("GetCartItems","Cart")">Get  Cart Items</a>

}



